@(form: Form[UserController.SimpleProfile])
<div><label for="username">Nutzername</label><div></div><input type="text" class="form-control input-sm" id="username" name="username" value="@form("username").value"></div>
<div><label for="firstname">Vorname</label><div></div><input type="text" class="form-control input-sm" id="firstname" name="firstname" value="@form("firstname").value"></div>
<div><label for="lastname">Nachname</label><div></div><input type="text" class="form-control input-sm" id="lastname" name="lastname" value="@form("lastname").value"></div>
<div><label for="email">E-Mail</label><div></div><input type="email" class="form-control input-sm" id="email" name="email" value="@form("email").value"></div>
