@(user: User, books: List[Book])

@defining(6) { BUCHZAHL =>
@defining( if (books.length % BUCHZAHL == 0) books.length / BUCHZAHL else books.length / BUCHZAHL + 1 ) { anzahlSeiten =>
<!-- Carousel================================================== -->
@if(!books.isEmpty()) {
<div id="@user.id" class="carousel slide" style="width: 900px; margin: 0 auto">
	<div class="carousel-inner">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
							@for(i <- 0 to BUCHZAHL - 1 if i <= books.length - 1) {
								@book.snippets.cover(books(i))
							}
				</div> <!--/.carousel-caption-->
			</div> <!--/.container-->
		</div> <!--/.item .active-->
		@for(slide <- 1 to anzahlSeiten - 1) {
			<div class="item">
				<div class="container">
					<div class="carousel-caption">
								@for(i <- (slide * BUCHZAHL) to (slide * BUCHZAHL + BUCHZAHL - 1) if i <= books.length - 1) {
									@book.snippets.cover(books(i))
								}
					</div> <!--/.carousel-caption-->
				</div> <!--/.container-->
			</div> <!--/.item-->
		}
	</div> <!--/.carousel-inner-->
	<a class="left carousel-control" href="#@user.id" data-slide="prev">
		@if(books.length <= BUCHZAHL) {
			<g-h2><span class="glyphicon glyphicon-chevron-left"></span></g-h2>
		} else {
			<span class="glyphicon glyphicon-chevron-left"></span>
		}
	</a>
	<a class="right carousel-control" href="#@user.id" data-slide="next">
		@if(books.length <= BUCHZAHL) {
			<g-h2><span class="glyphicon glyphicon-chevron-right"></span></g-h2>
		} else {
			<span class="glyphicon glyphicon-chevron-right"></span>
		}
	</a>
</div> <!--/myCarousel-->
</br>
}
}
}