.thumbnail .btn {
	max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#showcase {
	min-height: 200px;
	z-index: 1000;
	float: left;
	width: 95%;
	display:inline-block;
}

.tradecontent {
	width: 50%;
	display:inline-block;
	clear: both;
	float:left;
}

.sidecontent {
	left: 60%;
	width: 30%;
	position: absolute;
}

.progress-heading {
	margin-top: 20px;
}

#wishlist-wrapper {
	left: 50%;
	width: 40%;
	position: absolute;
	/* background: #2FA4E7; */
}

#wishlist-wrapper.affix {
	left: 50%;
	width: 40%;
	top: 0px;
	position: fixed;
}

.book {
	position: relative;
	z-index: 1000;
	animation:none !important;
}

#wishlist-container {
	padding: 5px;
	border: solid 1px #DDD;
}

#wishlist {
	background-color: #EEE;
	min-height: 200px;
	width: 100%;
	display: inline-block;
}

#comment-container {
	margin-top: 5px;
	margin-bottom: 5px;
}

.inList {
	border-color: #5B5;
}

#trade-progress-bar {
	font-size: 18px;
	padding-bottom: 20px;
	
}

.trade-arrow {
	padding-left: 5px;
	padding-right: 20px;
}

.form-group > dl > dt {
	display: none;
}

.info {
	display: none;
}

.book-button-left {
	margin: 5px 0 1px 3px;
}

.book-button-right {
	margin: 5px 3px 1px 0;
}

.login-container {
	width: 800px;
	margin-top: 100px;
}

.isbn-container {
	width: 500px;
	margin-top: 30px;
}

.login-form {
	width: 300px;
}

.btn-isbn {
	margin-top: -7px;
}

.form-isbn {
	width: 370px;
}

.showcase {
	margin: 0px 5px;
}

.user-index {
	margin-left: 210px;
}

.nav-search {
	padding-top: 10px;
}

.logo {
	margin-left: 20px;
}

.title {
	margin: 3px 5px 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.error {
	color: #c71c22;
}

.form-hint {
	margin-top: 20px;
}

.book-comment {
	white-space: pre;
}

.badge-important {
	background-color:#F0AD4E;
}

.swappable_spacer {
	margin-left: 20%;
}

.swappable_spacer_mini {
	margin-left: 5%;
}

#more-button {
	margin-top: 40px;
	min-width: 300px;
}
