@(addBookForm: Form[BookController.SimpleProfile])
@import helper._
@main("Buch hinzufuegen", ""){
<div class="row isbn-container center-block">
				<h2>Buch per ISBN Nummer suchen</h2>
				@helper.form(action = routes.BookController.createBookByIsbn()){
					@if(addBookForm.hasGlobalErrors) {
						<p class="error">@addBookForm.globalError.message</p>
					}
					<div class="form-inline">
						<div class="form-group">
							@inputText(
								addBookForm("isbn"),
								'_label -> "ISBN",
								'class -> "form-control input-lg form-isbn",
								'_error -> addBookForm.globalError
							)
						</div>
						<button class="btn btn-primary btn-lg btn-isbn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				}
			<a href="@routes.BookController.createBook()">oder per Hand hinzufügen</a>
</div>
}
