@(book: Book)
@main("Buch Details", "") {
    </br>
    </br>
    <div class="row">
          <div class="col-sm-4">
          	<div class="center-block">
    			@snippets.cover(book)
    		</div>
        </div>
          <div class="col-sm-8">
              <table class="table">
                  <thead>
                      <tr>
                          <td><b>Titel:</b></td>
                          <td>@book.title</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><b>Erscheinungsjahr:</b></td>
                          <td>@book.year.format("yyyy")</td>
                      </tr>
                      <tr>
                          <td><b>Autor(en):</b></td>
                          <td>@book.author</td>
                      </tr>
                      <tr>
                          <td><b>ISBN:</b></td>
                          <td>@book.isbn</td>
                      </tr>
                      <tr>
                          <td><b>Kommentar von @book.owner.username:</b></td>
                          <td class="book-comment">@book.comment</td>
                      </tr>
                  </tbody>
            </table>
        </div>
    </div>
    <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-8">
               <input type="button" class="btn btn-primary" value="Zum Bücherregal"
               onclick="location.href='@routes.BookController.myBookshelf()'"/>
          </div>
    </div>

}
