@(book: Book)
@if(book == null) {
	<div class="modal-dialog">
    <div class="modal-content">
		 <div class="modal-body">
		 	Da ist was schiefgegangen!
		 </div>
  	</div>
    </div>
} else {
<div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title" id="myModalLabel">@book.title</h4>
     </div>
      <div class="modal-body">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Cover</th>
					<th colspan="2">Details</th>
				</tr>
			</thead>
			<tr>
				<td rowspan="6"><img src="@book.coverUrl" width="100px" height="150px"></td>
				<th>Dieses Buch gehört:</th>
				<td><a href="@routes.TradeController.viewForUser(book.owner.id)">@book.owner.username</a></td>
			</tr>
			<tr>
				<th>Erscheinungsjahr:</th>
				<td>@book.year.format("yyyy")</td>
			</tr>
			<tr>
				<th>Autor:</th>
				<td>@book.author</td>
			</tr>
			<tr>
				<td><b>ISBN:</b></td>
				<td>@book.isbn</td>
			</tr>
			<tr>
				<td><b>Kommentar von @book.owner.username:</b></td>
				<td class="book-comment">@book.comment</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
      @if(Common.currentUser() != null) {
      	<button type="button" class="btn btn-default" onclick="location.href='@routes.TradeController.viewForUser(book.owner.id)'">Tauschanfrage</button>
      	}
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
 }