@(books: List[Book])
@main("Mein Bücherregal") {

    <div class="page-header">
          <h2>Mein Bücherregal</h2>
    </div>
    <div class="row"><!-- Content -->
        @for(book <- books) {
            <div class="col-sm-4 col-md-2 col-xs-6">
                <a href="@routes.BookController.getBook(book.id)" class="thumbnail" data-toggle="popover" title="@book.title" data-content="&lt;b&gt;Autor:&lt;&#47;b&gt; @book.author" data-trigger="hover" data-html="true" data-placement="top" data-container="body">
                    @if(book.coverUrl != null && !book.coverUrl.isEmpty()){
                       <img src="@book.coverUrl">
                    } else {
                        <img src="http://bks8.books.google.de/books?id=Q-NslYvYoGYC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                    }
                </a>
                <div class="caption">
                    @if(book.tradeable){
                        <p><a href="@routes.BookController.unmarkAsTradeable(book.id)" class="btn btn-warning btn-xs" role="button">Vom Showcase entfernen</a></p>
                    }else{
                        <p><a href="@routes.BookController.markAsTradeable(book.id)" class="btn btn-success btn-xs" role="button">Zum Showcase hinzufuegen</a></p>
                    }
                    <p><a href="@routes.BookController.deleteBook(book.id)" class="btn btn-danger btn-xs" role="button">Buch loeschen</a></p>
                </div>
            </div>
        }
    </div><!-- /Content -->
}

