@(books : List[Book], searchString : String, sortAttribute : String, sortDirection : String, owner :
String, navigation : String)
@main("Suchergebnisse", navigation){
<!-- let's sort something -->
@if(!owner.equals("all")) {
<h2>Suche in meinen Büchern</h2>
}
@if(books.size > 1) {
     @if(owner.equals("all")) {
          <form class="form-horizontal" role="form" action="@routes.BookController.searchBook()" method="GET">
     } else {
          <form class="form-horizontal" role="form" action="@routes.BookController.searchInMyBooks()" method="GET">
     }
     <div class="form-group">
		<label class="col-sm-1 control-label">Sortierung: </label>
		<div class="col-sm-3">
			<input type="hidden" value="@searchString" name="keyword">
			<select class="form-control" id="sortSelect" onchange="this.form.submit()" name="sorting">
				<option value="author:asc">Autor↑</option>
				<option value="author:desc">Autor↓</option>
				<option value="title:asc">Titel↑</option>
				<option value="title:desc">Titel↓</option>
				<option value="initTime:asc">Älteste</option>
				<option value="initTime:desc">Neuste</option>
				<option value="year:asc">Erscheinungsjahr↑</option>
				<option value="year:desc">Erscheinungsjahr↓</option>
			</select>
		</div>
	</div>
	</form>
<script>
     window.onload = function() {
          var element = document.getElementById("sortSelect");
          element.value = "@sortAttribute" + ":" + "@sortDirection";
     };
</script>
}

@if(books.size == 0) {
     Keine Bücher gefunden :(
}else{
	
	@if(searchString != ""){
		Suche nach <b>"@searchString"</b> ergab @books.size() Treffer
	} else { @books.size() Bücher gefunden}

	<br><br><br>
	@for(book <- books){
		@snippets.cover(book, navigation)
	}
}
	</br>
	@if(navigation == "myBooks"){
		<a href="@routes.BookController.myBookshelf()" class="btn btn-default">Zurück zum Bücherregal</a>
	}
	@if(navigation == "searchBooks"){
		<a href="@routes.Application.index()" class="btn btn-default">Zurück zur Startseite</a>
	}
}
