@(books : List[Book], searchString : String, sortAttribute : String, sortDirection : String, owner :
String)
@main("Suchergebnisse"){
<!-- let's sort something -->
@if(books.size > 1) {
     @if(owner.equals("all")) {
          <form action="@routes.BookController.searchBook()" method="GET">
     } else {
          <form action="@routes.BookController.searchInMyBooks()" method="GET">
     }
     <input type="hidden" value="@searchString" name="keyword">
     <select id="sortSelect" onchange="this.form.submit()" name="sorting">
          <option value="author:asc">Autor↑</option>
          <option value="author:desc">Autor↓</option>
          <option value="title:asc">Titel↑</option>
          <option value="title:desc">Titel↓</option>
     </select>
</form>
<script>
     window.onload = function() {
          var element = document.getElementById("sortSelect");
          element.value = "@sortAttribute" + ":" + "@sortDirection";
     };
</script>
}
<br>
@if(!searchString.equals("")) {
     "<b>@searchString</b>"<br><br>
}
@if(books.size == 0) {
     Keine Bücher gefunden :(
}else{
    @for(book <- books){
            <div class="col-sm-4 col-md-2 col-xs-6">
                <a href="@routes.BookController.getBook(book.id)" class="thumbnail" data-toggle="popover" title="@book.title" data-content="&lt;b&gt;Autor:&lt;&#47;b&gt; @book.author" data-trigger="hover" data-html="true" data-placement="top" data-container="body">
                    @if( book.coverUrl != null && !book.coverUrl.isEmpty()){
                        <img src="@book.coverUrl">
                    } else {
                        <img src="http://bks8.books.google.de/books?id=Q-NslYvYoGYC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                    }
                </a>
            </div>
        
            }
    }

}
