@(ownerBookList: List[Book], recipientBookList: List[Book], tradeTransaction: TradeTransaction,
navigation: String)
@import helper._

@main("abgeschlossener Büchertausch mit " + tradeTransaction.owner.username, navigation) {

	
	
	
	@snippets.title(tradeTransaction.owner)
	
	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}

	
	@snippets.panel("Du hast von " + tradeTransaction.owner.username + " folgende Bücher bekommen","tradecontent") {
			@snippets.books(recipientBookList)
	}
	
	@snippets.panel("Du tauscht dafür","tradecontent") {
			@snippets.books(ownerBookList)
	}
	
	@snippets.sidebar() {
		@snippets.panel("Tausch erfolgreich!","") {
			Bitte nehme mit @tradeTransaction.owner.username  Kontakt auf, um die Übergabe der Bücher zu organisieren!
		}
	
		@snippets.panel("Kommentare", "") {
				@snippets.comments(tradeTransaction)
		}
		@snippets.panel("Optionen", "") {
				@snippets.delete(tradeTransaction)
	
		}	
	}
	
	
	
	
}

