@(ownerBookList: List[Book], recipientBookList: List[Book], tradeTransaction: TradeTransaction)
@import helper._

@main("abgeschlossener Büchertausch mit " + tradeTransaction.owner.username) {

	<div class="page-header">
  		<h2>abgeschlossener Büchertausch mit @tradeTransaction.owner.username :</h2>
	</div>
	
	@snippets.tradeProgressBar(tradeTransaction)
	<h4>Sie erhielten folgende Bücher von @tradeTransaction.owner.username:</h4>	
	@snippets.books(recipientBookList)
	<h4>Sie haben dafür folgende Bücher an @tradeTransaction.owner.username gegeben:</h4>
	@snippets.books(ownerBookList)
	@snippets.comments(tradeTransaction)
	@snippets.delete(tradeTransaction)
}

