@(ownerBookList: List[Book], recipientBookList: List[Book], tradeTransaction: TradeTransaction,
navigation: String)
@import helper._

@main("abgeschlossener Büchertausch mit " + tradeTransaction.recipient.username, navigation) {


	@snippets.title(tradeTransaction.recipient)
	
	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}

	
	@snippets.panel("Du hast von " + tradeTransaction.recipient.username + " folgende Bücher bekommen","tradecontent") {
			@snippets.books(ownerBookList)
	}
	
	@snippets.panel("Du tauscht dafür","tradecontent") {
			@snippets.books(recipientBookList)
	}
	
	@snippets.sidebar() {
		@snippets.panel("Tausch erfolgreich!","swappable_spacer_mini") {
			Bitte nehme mit @tradeTransaction.recipient.username  Kontakt auf, um die Übergabe der Bücher zu organisieren!
		}
	
		@snippets.panel("Kommentare", "swappable_spacer_mini") {
				@snippets.comments(tradeTransaction)
		}
		@snippets.panel("Optionen", "swappable_spacer_mini") {
				@snippets.delete(tradeTransaction)
	
		}	
	}
	
	
}

