@(ownerBookList: List[Book], recipientBookList: List[Book], tradeTransaction: TradeTransaction,
navigation: String)
@import helper._

@main("abgelehnte Tauschanfrage von " + tradeTransaction.owner.username, navigation) {
	
	@snippets.title(tradeTransaction.owner)
	
	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}

	@snippets.panel("Du wolltest von " + tradeTransaction.owner.username,"tradecontent") {
			@snippets.books(ownerBookList)
	}
	
	@snippets.panel(tradeTransaction.owner.username + " wollte von dir","tradecontent") {
			@snippets.books(recipientBookList)
	}
	
	@snippets.sidebar() {
		@snippets.panel("Kommentare", "swappable_spacer_mini") {
				@snippets.comments(tradeTransaction)
		}
		@snippets.panel("Optionen", "swappable_spacer_mini") {
				@snippets.delete(tradeTransaction)
		}	
	}
	
}
