@(recipientBookList: List[Book], ownerBookList: List[Book], tradeTransaction: TradeTransaction, transForm: Form[TradeTransaction],
navigation: String)
@import helper._

@main("Tauschanfrage von " + tradeTransaction.owner.username, navigation) {


	@snippets.title(tradeTransaction.owner)

	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}

	@helper.form(action = routes.TradeController.response(tradeTransaction.id)) {
		@snippets.sidebar() {
				@snippets.panel("Kommentare", "") {
					@snippets.comments(tradeTransaction)
				}
				@snippets.wishlist(false, transForm)
					
		}
	}
	
	
	@snippets.panel(tradeTransaction.owner.username + " möchte von dir","tradecontent") {
			@snippets.books(recipientBookList)
	}
	
	
	@snippets.panel("Wähle aus " + tradeTransaction.owner.username + "s Bücher","tradecontent") {
		@snippets.showcase(ownerBookList)
	}
	
	
		
}

