@(recipientBookList: List[Book], ownerBookList: List[Book], tradeTransaction: TradeTransaction, transForm: Form[TradeTransaction])
@import helper._

@main("Tauschanfrage von " + tradeTransaction.owner.username) {

	<div class="page-header">
  		<h2>Tauschanfrage von @tradeTransaction.owner.username:</h2>
	</div>
	
	@snippets.tradeProgressBar(tradeTransaction)	
	<h4>@tradeTransaction.owner.username wünscht sich von Ihnen:</h4>
	@snippets.books(recipientBookList)
	
	<h4>Wählen Sie Bücher von @tradeTransaction.owner.username!</h4>
		@helper.form(action = routes.TradeController.response(tradeTransaction.id)) {
			@snippets.wishlist(false)
		}
	@snippets.showcase(ownerBookList)
}

