@(books: List[Book], tradeTransaction: TradeTransaction, navigation: String)
@import helper._

@main("Tauschanfrage an " + tradeTransaction.recipient.username, navigation) {

	@snippets.title(tradeTransaction.recipient)

	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}
	
	
	@snippets.panel("Deine ausgewählten Bücher","tradecontent") {
			@snippets.books(books)
	}
	

	@snippets.sidebar() {
		@snippets.panel("Kommentare", "") {
				@snippets.comments(tradeTransaction)
		}
		@snippets.panel("Optionen", "") {
				@snippets.delete(tradeTransaction)
		}
	}

}

