@(ownerBookList: List[Book], recipientBookList: List[Book], tradeTransaction: TradeTransaction)
@import helper._

@main("ungültige Tauschanfrage von " + tradeTransaction.owner.username, "") {

	<div class="page-header">
  		<h2>ungültige Tauschanfrage von @tradeTransaction.owner.username:</h2>
  		@snippets.invalidInfo()
	</div>
	
	@snippets.tradeProgressBar(tradeTransaction)
	<h4>Ihre ausgewählten Bücher:</h4>
	@snippets.books(ownerBookList)
	<h4>@tradeTransaction.owner.username's Auswahl Ihrer Bücher:</h4>
	@snippets.books(recipientBookList)
	@snippets.comments(tradeTransaction)
	@snippets.delete(tradeTransaction)
}
