@(recipientBookList: List[Book], tradeTransaction: TradeTransaction,
navigation: String)
@import helper._

@main("Tauschanfrage an " + tradeTransaction.owner.username, navigation) {


	@snippets.title(tradeTransaction.recipient)
	
	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}

	@snippets.panel("Du wolltest von " + tradeTransaction.recipient.username,"tradecontent") {
			@snippets.books(recipientBookList)
	}
	

	@snippets.sidebar() {
		@snippets.panel("Kommentare", "swappable_spacer_mini") {
				@snippets.comments(tradeTransaction)
		}
		@snippets.panel("Optionen", "swappable_spacer_mini") {
				@snippets.delete(tradeTransaction)
		}	
	}
	
	
	
	
	
	
}

