@(recipientBookList: List[Book], ownerBookList: List[Book], tradeTransaction: TradeTransaction)
@import helper._

@main("Tauschanfrage an " + tradeTransaction.owner.username) {

	<div class="page-header">
  		<h2>Tauschanfrage an @tradeTransaction.owner.username:</h2>
	</div>
	
	@snippets.tradeProgressBar(tradeTransaction)	
	<h4>Ihre ausgewählten Bücher:</h4>
	@snippets.books(recipientBookList)
	
	<h4>@tradeTransaction.recipient.username's Auswahl Ihrer Bücher:</h4>
	@snippets.books(ownerBookList)
	@snippets.comments(tradeTransaction)
	
	<div class="row">
		@helper.form(action = routes.TradeController.approve(tradeTransaction.id)){
			<input type="submit" class="btn btn-success" name="approve" value="Wunschzettel bestätigen">
			<input type="submit" class="btn btn-danger" name="finalrefuse" value="Wunschzettel ablehnen">
		}
	
	</div>
	
	
}

