@(recipientBookList: List[Book], ownerBookList: List[Book], tradeTransaction: TradeTransaction)
@import helper._

@main("Tauschanfrage von " + tradeTransaction.owner.username) {

	<div class="page-header">
  		<h2>Tauschanfrage von @tradeTransaction.owner.username :</h2>
	</div>
	
	@snippets.tradeProgressBar(tradeTransaction)	
	<h4>@tradeTransaction.owner.username's Auswahl Ihrer Bücher:</h4>
	@snippets.books(recipientBookList)
	
	<h4>Ihre ausgewählten Bücher:</h4>
	@snippets.books(ownerBookList)
	@snippets.comments(tradeTransaction)
}

