@(recipientBookList: List[Book], ownerBookList: List[Book], tradeTransaction: TradeTransaction,
navigation: String)
@import helper._

@main("Tauschanfrage an " + tradeTransaction.owner.username, navigation) {

	@snippets.title(tradeTransaction.recipient)
	
	@snippets.header(){
		@snippets.tradeProgressBar(tradeTransaction)
	}

	@snippets.panel("Deine Auswahl von " + tradeTransaction.recipient.username,"tradecontent") {
			@snippets.books(recipientBookList)
	}
	
	@snippets.panel(tradeTransaction.recipient.username + " will von dir","tradecontent") {
			@snippets.books(ownerBookList)
	}
	
	@snippets.sidebar() {
		@snippets.panel("Kommentare", "") {
				@snippets.comments(tradeTransaction)
		}
		@snippets.panel("Optionen", "") {
			@helper.form(action = routes.TradeController.approve(tradeTransaction.id)){
				<p><input type="submit" class="btn btn-success" name="approve" value="Tausch abschließen"></p>
				<p><input type="submit" class="btn btn-danger" name="finalrefuse" value="Tausch ablehnen"></p>
			}
		}	
	}
	

}

