@(user: User, form: Form[UserController.changePassword])

@main("Passwort ändern") {

	@helper.form(action = routes.UserController.savePassword(user.id)) {
		@if(form.hasGlobalErrors) {
    	<p class="error">@form.globalError.message</p>
		}
		<input type="hidden" id="id" name="id" value="@user.id">
		<div><label for="oldPassword">Altes Passwort bestätigen</label></div>
		<div><input type="password" id="oldPassword" name="oldPassword"></div>
		@snippets.password()
		@snippets.submitForm()
	}

}
