@(profileForm: Form[UserController.SimpleProfile], id: Long)
@import helper._

@main("Editiere Profil", "") {
	<div class="isbn-container center-block">
		@helper.form(action = routes.UserController.saveProfile(id)){
			@if(profileForm.hasGlobalErrors) {
    			<p class="error">@profileForm.globalError.message</p>
			}

			<input type="hidden" id="id" name="id" value="@id">
	
			@inputText(
				profileForm("username"),
				'_label -> "Nutzername",
				'class -> "form-control input-sm",
				'_error -> profileForm.globalError
			)
		
			@inputText(
				profileForm("firstname"),
				'_label -> "Vorname",
				'class -> "form-control input-sm",
				'_error -> profileForm.globalError
			)

			@inputText(
				profileForm("lastname"),
				'_label -> "Nachname",
				'class -> "form-control input-sm",
				'_error -> profileForm.globalError
			)

			@inputText(
				profileForm("email"),
				'_label -> "E-Mail",
				'class -> "form-control input-sm",
				'_error -> profileForm.globalError
			)			
			
			@snippets.submitForm()
		}
	</div>

}



