@(profileForm: Form[User])
@import helper._

@main("Editiere Profil") {

		@helper.form(action = routes.UserController.saveProfile(Integer.parseInt(profileForm("id").value))){

			<input type="hidden" id="id" name="id" value="@profileForm("id").value">
	
			@inputText(
				profileForm("username"),
				'_label -> "Nutzername",
				'_error -> profileForm.globalError
			)
		
			@inputText(
				profileForm("firstname"),
				'_label -> "Vorname",
				'_error -> profileForm.globalError
			)

			@inputText(
				profileForm("lastname"),
				'_label -> "Nachname",
				'_error -> profileForm.globalError
			)

			@inputText(
				profileForm("email"),
				'_label -> "E-Mail",
				'_error -> profileForm.globalError
			)			
			
			<input type="hidden" id="password" name="password" value="@profileForm("password").value">

			@snippets.submitForm()
	}

}



