@(form: Form[UserController.SimpleProfile])
@main("Registrierung", "") {

	<div class="isbn-container center-block">
		@helper.form(action = routes.Registration.submit) {
			@if(form.hasGlobalErrors) {
	    			<p class="error">@form.globalError.message</p>
			}
			
			@snippets.profile(form)
			@snippets.password()
			</br>
			<div><input type="checkbox" id="accept" name="accept"> Ich habe die <a href="@routes.Application.agb" target="_blank">AGB's</a> gelesen und akzeptiert</div>
			</br>
			@snippets.submitForm()
		}
	</div>
}
