@(userProfile: User) 

@main("Mein Profil", "") {
	<div class="isbn-container center-block">
		<table class="table table-hover table-condensed" width="50%">
			<thead>
				<tr>
					<td><b>Benutzername</b></td>
					<td>@userProfile.username</td>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td><b>Vorname</b></td>
					<td>@userProfile.firstname</td>
				</tr>
				<tr>
					<td><b>Nachname</b></td>
					<td>@userProfile.lastname</td>
				</tr>
				<tr>
					<td><b>E-Mail</b></td>
					<td>@userProfile.email</td>
				</tr>
			</tbody>
		</table>
	</div>
}
