@(books: List[Book]) <!-- Displays drag & drop showcase. -->

<div id="showcase">
		@for(book <- books) {
			<div id="@book.id" class="g-card book">
				<a href="@routes.BookController.view(book.id)" data-toggle="modal" data-target="#centralModal">
					<img src="@book.coverUrl" width="100px" height="150px" data-toggle="popover" title="@book.title" data-content='<b>Autor:</b> @book.author' data-trigger="hover" data-html="true" data-placement="top" data-container="body" >
				</a>
				<div class="title" title="@book.title">
					@book.title
				</div>
				<input type="hidden" name="book_selection" value="@book.id" />
			</div>
		}
</div>

