@(books: List[Book]) <!-- Displays drag & drop showcase. -->
	<div id="showcase">
		@for(book <- books) {
			<div id="@book.id" class="col-md-2 book">
				<a href="@routes.BookController.getBook(book.id)" class="thumbnail" data-toggle="popover" title="@book.title" data-content="&lt;b&gt;Autor:&lt;&#47;b&gt; @book.author" data-trigger="hover" data-html="true" data-placement="top" data-container="body">
					<img src=@book.coverUrl>
				</a>
				<input type="hidden" name="book_selection" value="@book.id" />
			</div>
		}
	</div>
