@(createButtonOnly: Boolean, transForm: Form[TradeTransaction])
<div id="wishlist-wrapper">
	<div id="wishlist-container">
		<h4>Mein Wunschzettel</h4>
		<div id="wishlist"></div>

		<div id="comment-container">
			 @helper.textarea(transForm("comment"), 'class -> "form-control", '_label -> "Kommentar", 'rows -> "5")  
		</div>
		@if(createButtonOnly) {
			<input type="submit" class="btn btn-success" value="Wunschzettel erstellen">
		} else {
			<input type="submit" class="btn btn-success" name="response" value="Wunschzettel bestätigen">
			<input type="submit" class="btn btn-danger" name="refuse" value="Wunschzettel ablehnen">
		}
	</div>
</div>