@(createButtonOnly: Boolean, transForm: Form[TradeTransaction])


	@panel("Mein Wunschzettel","") {
	
		<div id="wishlist"></div>

		<div id="comment-container">
			 @helper.textarea(transForm("comment"), 'class -> "form-control", '_label -> "Kommentar", 'rows -> "5")  
		</div>
		@if(createButtonOnly) {
			<input type="submit" class="btn btn-success" value="Wunschzettel erstellen">
		} else {
			<p><input type="submit" class="btn btn-success" name="response" value="Tausch bestätigen"></p>
			<p><input type="submit" class="btn btn-danger" name="refuse" value="Tausch ablehnen"></p>
		}

	}

