@(createButtonOnly: Boolean)
<div id="wishlist-wrapper">
	<div id="wishlist-container">
		<h4>Mein Wunschzettel</h4>
		<div id="wishlist"></div>

		<div id="comment-container">
			<label for="comment">Kommentar</label><br>
			<textarea id="comment" name="comment" class="form-control" rows="4"></textarea>
		</div>
		@if(createButtonOnly) {
			<input type="submit" class="btn btn-success" value="Wunschzettel erstellen">
		} else {
			<input type="submit" class="btn btn-success" name="response" value="Wunschzettel bestätigen">
			<input type="submit" class="btn btn-danger" name="refuse" value="Wunschzettel ablehnen">
		}
	</div>
</div>