@(tradeTransaction: TradeTransaction, ownerBookList: List[Book], recipientBookList: List[Book])Hallo @tradeTransaction.owner.username !

Deine Tauschanfrage an @tradeTransaction.recipient.username wurde akzeptiert. Die Bücher wurden getauscht!

@tradeTransaction.owner.username erhielt:@snippets.books(recipientBookList)
@tradeTransaction.recipient.username erhielt:@snippets.books(ownerBookList)
Du kannst @tradeTransaction.recipient.username auch via email @tradeTransaction.recipient.email erreichen.

@snippets.visitUs()