@(tradeTransaction: TradeTransaction, ownerBookList: List[Book], recipientBookList: List[Book])Hallo @tradeTransaction.owner.username !

@tradeTransaction.recipient.username hat auf Deine Tauschanfrage reagiert und sich Bücher aus Deinem Showcase ausgesucht.

@tradeTransaction.recipient.username hat sich folgende Bücher von Dir ausgesucht:@snippets.books(ownerBookList)
Du hast Dir folgende Bücher von @tradeTransaction.recipient.username ausgesucht:@snippets.books(recipientBookList)
@snippets.visitUs()