@(tradeTransaction: TradeTransaction, ownerBookList: List[Book], recipientBookList: List[Book])Hallo @tradeTransaction.owner.username !

@tradeTransaction.recipient.username hat auf Ihre Tauschanfrage reagiert und sich Bücher aus Ihrem Showcase ausgesucht.

@tradeTransaction.recipient.username hat sich folgende Bücher von Ihnen ausgesucht:@snippets.books(ownerBookList)
Sie haben sich folgende Bücher von @tradeTransaction.recipient.username ausgesucht:@snippets.books(recipientBookList)

@snippets.visitUs()