@(navigation: String)
@main("AGB's", navigation) {
	<div id="agbs">
		<h3>Allgemeine Geschäftsbedingungen der Firma "Swappable Bücherbörse"<br /></h3>

		<br />
		<h5><p style="font-weight: bold; padding-bottom: 10px;">§1 Geltung gegenüber Unternehmern und Begriffsdefinitionen</p></h5>
		(1) Die nachfolgenden Allgemeinen Geschäftbedingungen gelten für alle Dienstleistungen zwischen uns und einem Verbraucher
		in ihrer zum Zeitpunkt der in Anspruchnahme gültigen Fassung.<br />
		<br />
		(2) „Verbraucher“ in Sinne dieser Geschäftsbedingungen ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden kann.<br />

		    <br />
		<h5><p style="font-weight: bold; padding-bottom: 10px;">§2 Zustandekommen eines Vertrages, Speicherung des Vertragstextes</p></h5>
		(1) Die folgenden Regelungen über den Vertragsabschluss gelten für Bestellungen über unseren Internetshop http://sdfw-play.f4.htw-berlin.de/ .<br />
		<br />
		<b>(2) Im Falle des Vertragsschlusses kommt der Vertrag mit dem jeweiligen Tauschpartner zustande. Die Swappable Bücherbörse übernimmt keienrlei Haftung für die Richtigkeit der zugesendeten Ware.<br /></b>
		<br />
		(3) Die Präsentation der Waren in unserem Internetshop stellen kein rechtlich bindendes Vertragsangebot unsererseits dar,
		sondern sind nur eine unverbindliche Aufforderungen an den Verbraucher, Waren zu bestellen. Mit der Bestellung der gewünschten Ware gibt der Verbraucher ein für ihn verbindliches Angebot auf Abschluss eines Kaufvertrages ab.<br />
		<br />
		(4) Bei Eingang einer Bestellung in unserem Internetshop gelten folgende Regelungen:
		Der Verbraucher gibt ein bindendes Vertragsangebot ab, indem er die in unserem Internetshop vorgesehene Bestellprozedur erfolgreich durchläuft.<br />
		<br />
		Die Bestellung erfolgt in folgenden Schritten:<br />
		<br />
		<div style="padding-left: 15px">
		     
		    1) Anmeldung im Internetshop nach Registrierung und Eingabe der Anmelderangaben (E-Mail-Adresse und Passwort). <br />

		    2) Auswahl der gewünschten Ware per Ablage auf den Wunschzettel. <br />

		    3) Optional eine Angabe eines Kommentars zur Bestellung. <br />

		    4) Manuelle Prüfung der Angaben im Wunschzettel<br />
		     
		    5) Bestätigen durch Anklicken der Buttons „Wunschzettel erstellen“ (Verbindliche Absendung der Bestellung).<br />
		     
		    6) Entgegennahme des Gegenangebots des Tauschpartners.<br />

		    7) Verbindliche Bestätigung des Gegenangebots (Verbindlicher Abschluss der Bestellung). <br />
		     
		<br />
		</div>
		Der Verbraucher kann vor dem verbindlichen Absenden der Bestellung durch Betätigen der in dem von ihm verwendeten Internet-Browser enthaltenen „Zurück“-Taste nach Kontrolle seiner Angaben wieder zu der Internetseite gelangen, auf der die Angaben des Kunden erfasst werden und Eingabefehler berichtigen bzw. durch Schließen des Internetbrowsers den Bestellvorgang abbrechen.
		<br />
		<br />
		(5) Speicherung des Vertragstextes bei Bestellungen über unseren Internetshop : Wir speichern den Vertragstext und senden Ihnen die Bestelldaten und unsere AGB per E-Mail zu. Die AGB können Sie jederzeit auch unter http://sdfw-play.f4.htw-berlin.de/agb  einsehen.

		    Ihre vergangenen Bestellungen können Sie in unserem Kunden-Bereich unter Meine Tauschanfragen einsehen.<br />


		    <br />
		<h5><p style="font-weight: bold; padding-bottom: 10px;">§3 Preise, Versandkosten</p></h5>
		(1) Die Nutzung der Swappable Bücherbörse ist kostenlos.<br />
		<br />
		(2) Lieferkosten sind vom jeweiligen Nutzer selbst zu tragen.<br />
		<br />
		<h5><p style="font-weight: bold; padding-bottom: 10px;">§4 Lieferung</p></h5>
		(1) Die Lieferung der getauschten Bücher ist vom jeweiligen Nutzer selbst zu tragen. Der Lieferdienst sowie die Versandart sind selbstständig zu wählen.<br />	 

		<br />

		****************************************************************************************************
		<br />
		<h5><p style="font-weight: bold; padding-bottom: 10px;">§5 Widerrufsrecht</p></h5>
		<b>
		Widerrufsbelehrung<br />
		<br />

		<b>Die Swappable Bücherbörse übernimmt keinerlei Verantwortung für die getauschten Waren und bietet somit keinerlei Widerrufsrecht.</b><br />
		Falls ein Bedarf an das Widerrufsrecht besteht, wenden Sie sich bitte an den jeweiligen Tauschpartner mit dem Sie den Tausch eingegangen sind.<br />
		<br />

		Ende der Widerrufsbelehrung</b><br /><br />
		****************************************************************************************************
		<br />
		<br />
		<h5><p style="font-weight: bold; padding-bottom: 10px;">§6 Vertragsprache</p></h5>
		 Als Vertragssprache steht ausschließlich Deutsch zur Verfügung.<br />

		<br />
		<br />
		 
		<p>Stand der AGB Jan.2014</p>
		 

		<p><i><a href="http://www.agb.de">Gratis AGB</a> erstellt von agb.de</i></p>
	</div>
}
