@(users:List[User], page: Integer, maxPage: Integer)

@main("Swappable", "") {

	@if(Common.currentUser != null) {
		@for(user <- users) {
				<h4 class="user-index"><a href="@routes.TradeController.viewForUser(user.id)">@user.username:</a></h4>
				@book.snippets.carousel(user, Book.getShowcaseForUser(user, 18))
		
		}

	} else {
		@for(user <- users) {
			<h4 class="user-index">@user.username:</h4>
			@book.snippets.carousel(user, Book.getShowcaseForUser(user, 18))
			<hr />
		}
	}
	
	@if(!((page+1) > maxPage)){
	<center><a href="@routes.Application.index(page+1)" class="btn btn-primary" id="more-button">Mehr Showcases</a></center>
	}


}
