@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/navbar-static-top.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/caroussel.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    
       <div class="container">
@if(Common.currentUser != null) {
      <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")" alt="Logo" height="50px"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mein Profil<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="@routes.UserController.showProfile(Common.currentUser.id)">Ansehen</a></li>
          <li><a href="@routes.UserController.editProfile(Common.currentUser.id)">Bearbeiten</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meine Bücher<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="@routes.BookController.myBookshelf()">Mein Bücherregal</a></li>
          <li><a href="@routes.BookController.getShowcase(Common.currentUser.id)">Mein Showcase</a></li>
          <li class="divider"></li>
          <li><a href="@routes.BookController.addBook()">Buch hinzufügen</a></li>
        </ul>
      </li>
      @if(User.isAdmin(Common.currentUser.id)) {
        <li><a href="@routes.UserAdministrationController.index()
">Userverwaltung</a></li>
      }
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buchtitel">
      </div>
      <button type="submit" class="btn btn-default">Suchen</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li>Logged in as: @Common.currentUser.username</li>
      <li><a href="@routes.UserController.logout">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
   } else {
   
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")" alt="Logo" height="50px"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="@routes.Registration.index()">Registrieren</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
            }
    <br />
	@if(flash.containsKey("success")) {
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@flash.get("success")
		</div>
	} 
	@if(flash.containsKey("info")) {
		<div class="alert alert-info fade in">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@flash.get("info")
		</div>
	} 
	@if(flash.containsKey("error")) {
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@flash.get("error")
		</div>
	} 
    
            
    @content
    </div>
    
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bootstrap/js/holder.js")" type="text/javascript"></script>
        
    <script src="@routes.Assets.at("javascripts/application.js")" type="text/javascript"></script>

    </body>
</html>
