@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap_cerulean.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/carousel.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/google.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/book.png")">
    </head>
    <body>
    
    <!-- Central Modal -->
	<div class="modal fade" id="centralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	</div>
    
                  <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar navbar-default">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")" class="logo" alt="Logo" @if(Common.currentUser == null) {height="72px"}else{height="50px"}></a>
                  </div>
                
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">
	                  <div class="col-lg-3 @if(Common.currentUser == null) {nav-search}">
		                  	<form class="navbar-form navbar-left col-md-3 input-group" action="@routes.BookController.searchBook()" method="GET">
		      					<input type="text" class="form-control"placeholder="Buchtitel" id="searchQuery" name="keyword">
		      					<span class="input-group-btn">
		        					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
		      					</span>
		    				</form>
	    				</div>
                    @if(Common.currentUser != null) {
                      <ul class="nav navbar-nav">
                        <li><a href="@routes.BookController.addBook()"><span class="glyphicon glyphicon-plus"></span> Buch einstellen</a></li>
                      </ul>
                    }
                    <ul class="nav navbar-nav navbar-right">
                      @if(Common.currentUser != null) {
                        @if(User.isAdmin(Common.currentUser.id)) {
                          <li><a href="@routes.UserAdministrationController.index()">Userverwaltung</a></li>
                        }
                        <li><a href="@routes.BookController.myBookshelf()">Mein Bücherregal</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meine Tauschanfragen 
                          <span class="badge">@TradeTransaction.countForUser(Common.currentUser)</span> <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="@routes.TradeController.viewAllTrades()">Alle Ansehen</a></li>
                            <li class="divider"></li>
                            <li><a href="@routes.TradeController.viewAllTrades()#me">@TradeTransaction.countForUserAsOwner(Common.currentUser) Tauschanfrage(n) von mir</a></li>
                            <li><a href="@routes.TradeController.viewAllTrades()">@TradeTransaction.countForUserAsRecipient(Common.currentUser) Tauschanfrage(n) an mich</a></li>
                          </ul>
                        </li>
                        <li class="dropdown active">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Common.currentUser.username <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="@routes.UserController.showProfile(Common.currentUser.id)">Profil ansehen</a></li>
                            <li><a href="@routes.UserController.editProfile(Common.currentUser.id)">Profil bearbeiten</a></li>
                            <li class="divider"></li>
                            <li><a href="@routes.UserController.logout">Logout</a></li>
                          </ul>
                        </li>
                      } else {
                        <form class="navbar-form navbar-left" action="@routes.UserController.login()" method="POST">
                          <div style="display:inline-block;"><input type="email" name="email" placeholder="Email" class="form-control" style="width: auto;" tabindex="1"></br><a href="@routes.Registration.index()">Registrieren</a> </div>
                          <div style="display:inline-block;"><input type="password" name="password" placeholder="Password" class="form-control" style="width: auto;" tabindex="2"></br><a href="@routes.UserController.recoverPassword()">Passwort vergessen</a> </div>
                          <div style="display:inline-block; vertical-align: top;"><button type="submit" name="action" value="login" class="btn btn-default" tabindex="3">Login</button></div>
                        </form>
                      }
                  </div><!-- /.navbar-collapse -->
                 </div>
                <br />
                @if(flash.containsKey("success")) {
                    <div class="alert alert-success fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @flash.get("success")
                    </div>
                }
                @if(flash.containsKey("info")) {
                    <div class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @flash.get("info")
                    </div>
                }
                @if(flash.containsKey("error")) {
                    <div class="alert alert-danger fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @flash.get("error")
                    </div>
                }
                
                <div class="container">
                    @content
                </div>
    
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bootstrap/js/holder.js")" type="text/javascript"></script>
        
    <script src="@routes.Assets.at("javascripts/application.js")" type="text/javascript"></script>

    </body>
</html>
