@(users:List[User])

@import helper._

@main("Userverwaltung") {
 	<ul>
 	@for(user <- users) {
          <li><a href="@routes.UserController.showProfile(user.id)">@user.username</a>
               @if(user.isActive) {
               <a href="@routes.UserAdministrationController.toogleActive(user.id)">Deaktivieren</a>
               } else {
               <a href="@routes.UserAdministrationController.toogleActive(user.id)">Aktivieren</a>
               }
               <a href="@routes.UserAdministrationController.deleteUser(user.id)" class="btn btn-danger" onclick="return confirm('Bist du dir ganz sicher?');">Löschen</a>
          </li>
 	}
 	</ul>
}



